{% extends 'layout.njk' %}

{% block head %}
<title>Sobre - Lucas Baron</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="wrapper">
    <img src="image/lucas.jpg" alt="Lucas">
    <h1>Lucas Baron</h1>
    <h2>Aluno - <a href="https://rocketseat.com.br/" target="_blanck">Rocketseat</a></h2>
    <p>Desenvolvedor Web </br>HTML | CSS | Javascript | Node Js</p>
</div>

<footer>
    <div class="links">
        <a href="https://github.com/Lucas-Baron" target="_blanck">Github</a>
        <a href="https://www.linkedin.com/in/lucas-baron-/" target="_blanck">Linkedin</a>
        <a href="/">Instagram</a>
    </div>
</footer>    
    
{% endblock %}