{% extends 'layout.njk' %}

{% block head %}
<title>Portifólio - Lucas Baron</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="wrapper">
    <h1>Projetos</h1>
</div>

<section class="cards">

    {% for iten in itens %}
        <div class="card" id={{iten.id}}>
            <div class="card__img-container">
                <img src="http://i3.ytimg.com/vi/{{iten.id}}/maxresdefault.jpg" alt="Imagem de {{iten.title}}">
            </div>

            <div class="card__contant">
                <h3>{{iten.title}}</h3>
            </div>

            <div class="card__info">
                <h3>{{iten.duration}}</h3>
                <h3 class="card__price">{{iten.price}}</h3>
            </div>
        </div>
    {% endfor %}
   

</section>

<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>

        <div class="modal-contant">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>


<script src="script.js"></script>

{% endblock %}